body {
   margin: 10;
   font-family: arial;
   background-color : #EEEEEE;
}

header {
	border-bottom: 2px solid #93B5C6;
	background-color: #213A5C;
	padding: 8px;
	display : flex;
	justify-content : space-between;
}

h2 {
	color:#4CA0FF;
	text-shadow: 2px 2px #0E2038;
	font-size: 50px;
	display: flex;
	justify-content: center;
}

h3 {
	color: #4CA0FF;
	font-size: 30px;
	text-shadow: 2px 2px #0E2038;
}

h4 {
	color: #4CA0FF;
	font-size:20px;
	text-shadow: 2px 2px #0E2038;
}
	
.content-link {
	text-decoration: none;
	display : flex;
	color : #FFFFFF;
}
.content-link > div {
	width : 100%;
}

.content-link > .logo:hover {
	filter : opacity(80%);
}

.game-review {
	background-color: #213A5C;
	color: #FFFFFF;
	border: 2px solid #93B5C6;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-left : 75px;
	margin-right : 75px;
	display : block;
}

.game-review img {
	display: block;
	margin: auto;
	width: 50%;
	border: 2px solid #93B5C6;
	border-radius: 5px;
	padding: 10px;

}

.tips {
	background-color: #213A5C;
	color: #FFFFFF;
	border: 2px solid #93B5C6;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-left : 75px;
	margin-right : 75px;
	display : block;
}

.rating {
	border: 2px solid #93B5C6;
	border-radius: 5px;
	padding: 1px;
	margin: 10px;
}
	